<!DOCTYPE html>

<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A Restful API for getting podcasts">
  <meta name="author" content="Michael Kennedy">

  <title>Podcaster API</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link href="/static/css/theme.css" rel="stylesheet">
  <link href="/static/css/docs.css" rel="stylesheet">
</head>

<body>

<div class="starter-template">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-10">
        <div>

          {% block content %}
            <div class="content">
              THIS PAGE HAS NO CONTENT
            </div>
          {% endblock %}

        </div>
      </div>
    </div>
    <div class="row">
      <div class="links">
        <ul>
          <li><i class="glyphicon glyphicon-bullhorn icon-muted"></i><a
            href="https://github.com/girisagar46"
            target="_blank">Github</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="copyright">
        Copyright &copy; <code>@girisagar46</code>
      </div>
    </div>
  </div>
</div>

</body>
</html>
